.generatebutton {
    background-color: DimGray;
    margin-left: 25%;
    color: white;
    height: 35%;
    width: 50%;
}
.textbox {
    background-color: #666;
    font-size: 15px;
}
.range{
    text-align: center;
    font-size: 25px;
}
.numbersmin{
    font-size: 15px;
    margin-left: 25%;
}
.numbersmax{
    margin-left: 9%;
    font-size: 15px;
    
}
#left{
    margin-left: 25%;
    
}
#right{
    margin-right: 25%;
}
label{
    color:white;
}
.font{
    background-color: #1F1F1F;

}
.title{
    background-color: #2b2b2b;
    color: white;
    
}
.generate{
    font-size: 15px;
    text-align: center;
}
text{
    color:white;
    font-size: 15px;
}
.meaning{
    margin-left: 35%;
    
}