<ActionBar  title="RANDOMIZER" class="title">
</ActionBar>

<GridLayout rows="auto, auto, auto, auto" class="font">
    <FlexboxLayout row="0" flexDirection="column">
        
        <Label text="Выберите диапазон" class="range"></Label>
    
        <FlexboxLayout justifyContent="space-between">
            <FlexboxLayout flexDirection="column">
                <Label text="Минимум" class="numbersmin"></Label>
                <TextField width="30%" [(ngModel)]="minValue" keyboardType="number" (blur)="changeValues()"class="textbox"id="left" ></TextField>
            </FlexboxLayout>

            <FlexboxLayout flexDirection="column">
                <Label text="Максимум" class="numbersmax"></Label>
                <TextField width="30%" [(ngModel)]="maxValue" keyboardType="number" (blur)="changeValues()"class="textbox" id="right" ></TextField>
            </FlexboxLayout>
        </FlexboxLayout>
    </FlexboxLayout>

    <FlexboxLayout row="1" flexDirection="column">
        <slider minValue="1" [maxValue]="maxValue - minValue" [(ngModel)]="count"></slider>
        <Label [text]="'Сгенерировать значений: ' + count" class="generate"></Label>
    </FlexboxLayout>

    <FlexboxLayout row="2">
        <Button text="Сгенерировать значение" (tap)="generation()" class="generatebutton"></Button>
    </FlexboxLayout>
    
    <FlexboxLayout row="3" flexDirection="column">
        <FlexboxLayout flexDirection="row" *ngFor="let item of items; index as i">
            <Label [text]="'Значение ' + (i + 1) + ': ' + item" class="meaning"></Label>
        </FlexboxLayout>
    </FlexboxLayout>
</GridLayout>
